{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Загрузка книги</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control") }}
            {% if form.file.errors %}
                <div class="text-danger">
                    {% for error in form.file.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Отмена</a>
    </form>      
</div>

{% endblock %}